.posts {
  background-position: center - 10px;
  background-repeat: no-repeat;
}

.posts.bg {
background-image: url(../images/posts/posts_mockup.png);
}

.postsFeed {
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,1);

}

.postsFeed {
  width: 740px;
  height: auto;
  margin: auto;
  position: fixed;
  top: 100px;
  left: 350px;
  padding: 22px;


  }

h2 {
  margin-top: 27px;
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;

}

p {
  font-family: 'PT Sans Caption', sans-serif;
  margin-top: 19px;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, .7);
  font-weight: bold;
}

img {
  position: relative;
  width: 700px;
  height: 200px;
}
